---
const { to, img, name } = Astro.props;
---

<div class="sponsors-small">
  <div class="sponsors-logo">
    <a href={to}>
      <img src={img} alt={name} />
    </a>
  </div>
  <div class="sponsors-text">
    <a href={to}>{name}</a>
    <p><slot /></p>
  </div>
</div>

<style>
  .sponsors-small {
    display: flex;
    margin: 0 10px 10px 0;

    .sponsors-logo {
      width: 160px;
      img {
        width: 150px;
      }
    }

    .sponsors-text {
      width: 200px;

      a,
      a:link,
      a:visited {
        color: #fff;
        font-size: 1.2em;
      }
    }
  }
</style>
